Authlib
deepface
deep-translator
google-generativeai
groq
kaggle
matplotlib
mtcnn
opencv-python-headless
Pint
plotly
pygame
pymultidictionary
PyPDF2
pyperclip
pyshorteners
python-barcode
python-dotenv
pytz
qrcode
speedtest-cli
spotipy
streamlit
tensorflow
tf_keras
transformers
